<div class="heading center">
  <h3>Welcome, technologist!</h3>
  For the latest tech reviews, please log in to your account:
</div>

<%= form_for :session, url: login_path do |f| %>



  <strong><%= f.label :username %></strong>
  <%= f.text_field :username %>
  <br />

  <strong><%= f.label :email %></strong>
  <%= f.text_field :email %>
  <br />

  <strong><%= f.label :password %></strong>
  <%= f.password_field :password %>
  <br />

  <div class="button center"><%= f.submit "Log In" %></div>
<% end %>

<br />
<div class="center"><button class="button"><%= link_to 'Log In with Github', '/auth/github' %></button></div><br />
<div class="center"><button class="button"><%= link_to "Create an Account", new_user_path %></div></button>
