<h1>Welcome, technologist!</h1>
<h2>For the lastest tech reviews, please create an account:</h2>

<%=  form_for @user, url: signup_path do |f| %>



    <%= f.label :username %>
    <%= f.text_field :username %>
    <br />

    <%= f.label :email %>
    <%= f.email_field :email%>
    <br />

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br />

    <%= f.submit "Sign Up" %>
<% end %>

<br />
<%= link_to 'Log In with Github', '/auth/github' %>




