<div class="heading center">
  <h3>Welcome fellow technologist, <%= current_user.username.titleize unless !current_user %>!</h3>
  <%= @user.username.titleize %>'s tech reviews are as follows:
</div>
<br />
<br />

<% @user.reviews.each do |review| %>
  <div class="heading"><%= review.title.titleize %></div>
  <div class="review-sub-label">Category:  <em><%= review.category.title.titleize %></em></div>
  <p><%= review.content %></p>
  <p>Published:  <em><%= review.created_at.strftime("%d/%m/%Y %H:%M") %></em></p>
  <p><%= link_to "Edit Review", edit_review_path(review) if current_user == review.user %></p>
<% end %>
