<div class="edit-review center">
  <h3>Edit a Review</h3>
</div>

<%= form_for @review do |f| %>

  <strong><%= f.label :title %></strong>
  <%= f.text_field :title %>
  <br />

  <strong><%= f.label :content %></strong>
  <%= f.text_area :content %>
  <br />
  <br />

  <div class="button center"><%= f.submit "Publish Edits" %></div>
<% end %>

<br />
<div class="button center"><%= button_to "Delete Review", review_path, method: :delete %></div>

