<h1>Review Feed</h1>

 <%= form_tag(reviews_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %> 

<% @reviews.each do |review| %>
  <h2><%= review.title.capitalize %></h2>
  <h3><em>Written by: </em> <%= link_to review.user.username, user_path(review.user) %></h3>
  <h3><em>Category: </em> <%= review.category.title %></h3><br />
  <p><%= review.content %></p><br />
  <p><%= review.created_at.strftime("%Y-%m-%d") %></p>
<% end %>

<h3><%= link_to "Login", new_user_path %></h3>
<h3><%= link_to "Logout", logout_path %></h3>
<h3><%= link_to "My Reviews", user_path(current_user) %></h3>
<h3><%= link_to "New Review", new_review_path %></h3>
<h3><%= link_to "New Category", new_category_path %></h3>


