<div class="heading center">
    <h3><%= current_user.username.titleize %>'s latest review:</h3>
</div>
<br />
<br />

<div class="heading"><%= @review.title.titleize %></div>
<div class="review-sub-label">Category:  <em><%= @review.category.title.titleize %></em></div>
<p><%= @review.content %></p><br />
<p>Published:  <em><%= @review.created_at.strftime("%d/%m/%Y %H:%M") %></em></p>

