<!DOCTYPE html>
<html>
  <head>
    <title>The Technologist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 

      <div class="container"> 

      <nav>
    <div class="nav-wrapper blue-grey darken-1">
    <ul id="nav-mobile" class="brand-logo center">
      <li><strong><%= link_to "THE TECHNOLOGIST", reviews_path %></strong></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "LOGIN", login_path %></li>
        <li><%= link_to "SIGNUP", new_user_path %></li>
        <li><%= link_to "LOGOUT", logout_path %></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "MY REVIEWS", user_path(current_user) unless current_user != logged_in? %></li>
        <li><%= link_to "REVIEW", new_review_path %></li>
        <li><%= link_to "CATEGORIZE", new_category_path %></li>
      </ul>
    </div>
  </nav>

  </div>

   <div class="container center">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
            

    <%= yield %>
  </body>
</html>
